  .eventPageContainer {
    display: flex;
    flex-direction: column;
  }

  .eventDetailsSection {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  .centerSection {
    flex: 2;
  }
  
  .eventImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .imageUnavailable {
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .eventDetails {
    margin-top: 20px;
    text-align: center;
  }
  
  .eventDetails p {
    margin: 5px 0;
  }

  .buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .accessWebsiteButton,
  .favoritesButton {
    background-color: #004d00;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }

  .accessWebsiteButton:hover,
  .favoritesButton:hover {
    opacity: 0.8;
  }
  
  .centerSection h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .centerSection p {
    font-size: 16px;
    line-height: 1.6;
  }

  .otherSessions {
    flex: 1;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .otherSessions h3{
    margin-top: 0;

  }
  
  .sessionList {
    list-style: none;
    padding: 0 10%;
  }
  
  .sessionList li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .sessionList li a {
    display: inline-block;
    margin-top: 5px;
    color: #004d00;
    font-weight: bold;
  }  

  .suggestedEventsSection {
    margin-top: 30px;
    flex-direction: column;
    background-color: #e9f5e9;
  }
  
  .suggestedEventsSection h3 {
    margin-bottom: 20px;
  }
  
  .suggestedEventsContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
  }
  