
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #004d00;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1000;
  }

  .leftSectionNavBar {
    display: flex;
    gap: 15px;
  }
  
  .navBarButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .navBarButton:hover {
      background-color: #45a049;
      font-weight: bold;
  }

  .genreMenu {
      position: absolute;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      padding: 10px;
      display: flex;
      flex-direction: column;
  }

  .genreItem {
      padding: 8px;
      color: black;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .genreItem:hover {
      background-color: #e0e0e0;
  }
  
  .searchBar {
    flex-grow: 2;
    min-width: 300px;
    max-width: 500px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }


  