  .suggestedEventsSection {
    margin-top: 30px;
    flex-direction: column;
    background-color: #e9f5e9;
  }
  
  .suggestedEventsSection h3 {
    margin-bottom: 20px;
  }

  .suggestedEventsContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
  }