  .genreTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #004d00;
  }

  .eventsPageLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    margin-bottom: 20px;
  }

  .bodyLayout {
    display: flex;
    flex: 4;
    flex-direction: column;
  }