  .verticalStack {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .genreImage {
    height: 15vh;
  }
  
  .genreImage:hover {
    transform: scale(1.05);
  }

  .genreImage img {
    border-radius: 8px;
  }